<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<header>
    <nav>
        <a href="/movies/index">Home</a>
        <a href="/about">About</a>

        <!-- 로그인 여부에 따른 메뉴 표시 -->
        <div sec:authorize="isAuthenticated()">
            <span>Welcome, <span sec:authentication="userName"></span>!</span>
            <a href="/movies/mypage">My Page</a>
            <a href="/movies/logout">Logout</a>
        </div>

        <!-- 비로그인 상태일 경우 로그인 링크 표시 -->
        <div sec:authorize="isAnonymous()">
            <a href="/movies/loginform">Login</a>
        </div>
    </nav>
</header>
</body>
</html>
