<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>결제 성공</title>
</head>
<body>
<h1>결제 성공</h1>
<div>
    <p>상태: <span th:text="${paymentResponse.status}"></span></p>
    <p>메시지: <span th:text="${paymentResponse.message}"></span></p>
    <p>결제 ID: <span th:text="${paymentResponse.orderId}"></span></p>
    <p>결제 금액: <span th:text="${paymentResponse.amount}"></span></p>
    <p>결제 날짜: <span th:text="${#temporals.format(paymentResponse.paymentDate, 'yyyy-MM-dd HH:mm')}"></span></p>


</div>
</body>
</html>
